body {margin: 0
}

#tlo1 {
	background-color: red;
}

#tlo2 {
	background-color: red;
}

#tlo3 {
	background-color: white;
	display: inline-block;
}

#przesun1 {
	text-align: right;
}


#pc1 {
	font-size:12px;
}

#pc2 {
	font-size:4px;
}

#pc3 {
	font-size:12px;
	margin-bottom: 24px;
}


#naglowek1
{
	font-size:20px;
}

#naglowek2
{
	font-size:26px;
	margin-bottom: 24px;
}


#naglowek3 {
	margin-bottom: 24px;
}


#kolumny1
{
	display:flex;  
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:24px;
	justify-content: space-between;
}

#kolumny2
{
	display:flex;  
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
}


#background1
{
	color: white	
	
}